################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ApiTienda-GruopMeet/FileContentIndex/39ad7fc0-0bfe-4742-8352-32012f37457f.vsidx

.vs/
